<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>TestAnswer</title>
</head>
<body>
<div th:fragment="testAnswer_contents">
	<div class="page-header">
		<h1>問題</h1>
	</div>
	<!-- 問題文 -->
	<div><span>問題</span><span th:text=${number}></span></div>
	<div th:text="${question}">問題が見つかりません。</div>
	
	<!-- 解答数に応じて解答欄を変更 -->
	<div th:if="${answerCounter eq 1}">
		<table border="1">
			<tr>
				<td>解答１</td>
				<td type="text" th:text="${answerList[0]}" th:classappend="${!checkList[0]}? 'error'">答えが見つかりません。</td>
				<!-- endがtrue,falseかによってリンクを変更 -->
				<td><a th:unless="${end}" th:href="@{/test/question/{chapter}/{number}(chapter=${chapter},number=${nextNumber})}">次の問題へ</a>		
 			</tr>
 		</table>
	</div>
	<div th:if="${answerCounter eq 2}">
		<table border="1">
			<tr>
				<td>解答1</td>
				<td th:text="${answerList[0]}" th:classappend="${!checkList[0]}? 'error'">答えが見つかりません。</td>
 			</tr>
			<tr>
				<td>解答２</td>
				<td th:text="${answerList[1]}" th:classappend="${!checkList[1]}? 'error'">答えが見つかりません。</td>
				<td><a th:unless="${end}" th:href="@{/test/question/{chapter}/{number}(chapter=${chapter},number=${nextNumber})}">次の問題へ</a></td>				
 			</tr>
		</table>
	</div>
	<div th:if="${answerCounter eq 3}">
		<table border="1">
			<tr>
				<td>解答1</td>
				<td th:text="${answerList[0]}" th:classappend="${!checkList[0]}? 'error'">答えが見つかりません。</td>
 			</tr>
			<tr>
				<td>解答2</td>
				<td th:text="${answerList[1]}" th:classappend="${!checkList[1]}? 'error'">答えが見つかりません。</td>
 			</tr>
			<tr>
				<td>解答3</td>
				<td th:text="${answerList[2]}" th:classappend="${!checkList[2]}? 'error'">答えが見つかりません。</td>
				<td><a th:unless="${end}" th:href="@{/test/question/{chapter}/{number}(chapter=${chapter},number=${nextNumber})}">次の問題へ</a></td>				
 			</tr>
		</table>
	</div>
	<div th:if="${answerCounter eq 4}">
		<table border="1">
			<tr>
				<td>解答1</td>
				<td th:text="${answerList[0]}" th:classappend="${!checkList[0]}? 'error'">答えが見つかりません。</td>
 			</tr>
			<tr>
				<td>解答2</td>
				<td th:text="${answerList[1]}" th:classappend="${!checkList[1]}? 'error'">答えが見つかりません。</td>
 			</tr>
 			<tr>
				<td>解答3</td>
				<td th:text="${answerList[2]}" th:classappend="${!checkList[2]}? 'error'">答えが見つかりません。</td>
 			</tr>
			<tr>
				<td>解答4</td>
				<td th:text="${answerList[3]}" th:classappend="${!checkList[3]}? 'error'">答えが見つかりません。</td>
				<td><a th:unless="${end}" th:href="@{/test/question/{chapter}/{number}(chapter=${chapter},number=${nextNumber})}">次の問題へ</a></td>				
 			</tr>
		</table>
	</div>
	<div th:if="${answerCounter eq 5}">
		<table border="1">
			<tr>
				<td>解答1</td>
				<td th:text="${answerList[0]}" th:classappend="${!checkList[0]}? 'error'">答えが見つかりません。</td>
 			</tr>
			<tr>
				<td>解答2</td>
				<td th:text="${answerList[1]}" th:classappend="${!checkList[1]}? 'error'">答えが見つかりません。</td>
 			</tr>
 			<tr>
				<td>解答3</td>
				<td th:text="${answerList[2]}" th:classappend="${!checkList[2]}? 'error'">答えが見つかりません。</td>
 			</tr>
  			<tr>
				<td>解答4</td>
				<td th:text="${answerList[3]}" th:classappend="${!checkList[3]}? 'error'">答えが見つかりません。</td>
 			</tr>
			<tr>
				<td>解答5</td>
				<td th:text="${answerList[4]}" th:classappend="${!checkList[4]}? 'error'">答えが見つかりません。</td>
				<td><a th:unless="${end}" th:href="@{/test/question/{chapter}/{number}(chapter=${chapter},number=${nextNumber})}">次の問題へ</a></td>				
 			</tr>
		</table>
	</div>
	</form>
	<a th:href="@{/test/chapter}">ホームへ</a>						
</div>
</body>
</html>