<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>TestQuestion</title>
</head>
<body>
<div th:fragment="testQuestion_contents">
	<div class="page-header">
		<h1>問題</h1>
	</div>
	<!-- 問題文 -->
	<div><span>問題</span><span th:text=${number}></span></div>
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA][*/
		var questionWords = /*[[${questionWords}]]*/'';
		if(questionWords == '') {
			document.write('問題が見つかりません。');
		}
		for(var i=0; i < questionWords.length; i++){
			document.write(questionWords[i]);
			if(i==(questionWords.length-1)){break;}
			document.write('(　　　)');
		}
		/*]]>*/	
	</script>
	<form method="post" th:action="@{/test/question/{chapter}/{number}(chapter=${chapter},number=${number})}" th:object="${answerForm}">
	
	
		<!-- 解答数に応じて解答欄を変更 -->
		<div th:if="${answerCounter eq 1}">
			<table border="1">
				<tr>
					<td>解答１</td>
					<td><input type="text" name="answerList[0]" ></td>
					<td><input type="submit"/></td>						
 				</tr>
 			</table>
		</div>
		<div th:if="${answerCounter eq 2}">
			<table border="1">
				<tr>
					<td>解答１</td>
					<td><input type="text" name="answerList[0]" ></td>
 				</tr>
				<tr>
					<td>解答２</td>
					<td><input type="text" name="answerList[1]" ></td>
					<td><input type="submit"/></td>
 				</tr>
			</table>
		</div>
	</form>
	<a th:href="@{/test/chapter}">ホームへ</a>						
</div>
</body>
</html>