<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TestChapter</title>
</head>
<body>
<div th:fragment="testChapter_contents">
	<a th:href="@{/}">練習へ</a>
	<ul class="list-group">
	<!-- ユーザーの解答率を各章とともに表示 -->
<!-- 		<li class="list-group-item"><a th:href="@{/test/question/1/1}">1章</a>
		　　 <span>解答率</span><span th:text="${answerRate[0]}"></span><span>%</span></li>
		
		<li class="list-group-item"><a th:href="@{/test/question/2/1}">2章</a>
		　　 <span>解答率</span><span th:text="${answerRate[1]}"></span><span>%</span></li>
		
		<li class="list-group-item"><a th:href="@{/test/question/3/1}">3章</a>
		　　 <span>解答率</span><span th:text="${answerRate[2]}"></span><span>%</span></li>
		
		<li class="list-group-item"><a th:href="@{/test/question/4/1}">4章</a>
		　　 <span>解答率</span><span th:text="${answerRate[3]}"></span><span>%</span></li> -->
		
		<li class="list-group-item"><a th:href="@{/test/question/5/1}">5章</a>
		　　 <span>解答率</span><span th:text="${answerRate[4]}"></span><span>%</span></li>
		
		<li class="list-group-item"><a th:href="@{/test/question/6/1}">6章</a>
		　　 <span>解答率</span><span th:text="${answerRate[5]}"></span><span>%</span></li>
		
		<li class="list-group-item"><a th:href="@{/test/question/7/1}">7章</a>
		　　 <span>解答率</span><span th:text="${answerRate[6]}"></span><span>%</span></li>
		
		<li class="list-group-item"><a th:href="@{/test/question/8/1}">8章</a>
		　　 <span>解答率</span><span th:text="${answerRate[7]}"></span><span>%</span></li>
		
		<li class="list-group-item"><a th:href="@{/test/question/9/1}">9章</a>
		　　 <span>解答率</span><span th:text="${answerRate[8]}"></span><span>%</span></li>
		
<!-- 		<li class="list-group-item"><a th:href="@{/test/question/10/1}">10章</a>
		　　 <span>解答率</span><span th:text="${answerRate[9]}"></span><span>%</span></li>
		
		<li class="list-group-item"><a th:href="@{/test/question/11/1}">11章</a>
		　　 <span>解答率</span><span th:text="${answerRate[10]}"></span><span>%</span></li>
		
		<li class="list-group-item"><a th:href="@{/test/question/12/1}">12章</a>
		　　 <span>解答率</span><span th:text="${answerRate[11]}"></span><span>%</span></li>
		
		<li class="list-group-item"><a th:href="@{/test/question/13/1}">13章</a>
		　　 <span>解答率</span><span th:text="${answerRate[12]}"></span><span>%</span></li>
		
		<li class="list-group-item"><a th:href="@{/test/question/14/1}">14章</a>
		　　 <span>解答率</span><span th:text="${answerRate[13]}"></span><span>%</span></li>
		
		<li class="list-group-item"><a th:href="@{/test/question/15/1}">15章</a>
		　　 <span>解答率</span><span th:text="${answerRate[14]}"></span><span>%</span></li>
		
		<li class="list-group-item"><a th:href="@{/test/question/16/1}">16章</a>
		　　 <span>解答率</span><span th:text="${answerRate[15]}"></span><span>%</span></li>
		
		<li class="list-group-item"><a th:href="@{/test/question/17/1}">17章</a>
		　　 <span>解答率</span><span th:text="${answerRate[16]}"></span><span>%</span></li>
		
		<li class="list-group-item"><a th:href="@{/test/question/18/1}">18章</a>
		　　 <span>解答率</span><span th:text="${answerRate[17]}"></span><span>%</span></li>
		
		<li class="list-group-item"><a th:href="@{/test/question/19/1}">19章</a>
		　　 <span>解答率</span><span th:text="${answerRate[18]}"></span><span>%</span></li>
		
		<li class="list-group-item"><a th:href="@{/test/question/20/1}">20章</a>
		　　 <span>解答率</span><span th:text="${answerRate[19]}"></span><span>%</span></li> -->
	</ul> 
</div>
</body>
</html>