<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Chapter</title>
</head>
<body>
<div th:fragment="chapter_contents">
	<!-- 権限がGENERALの場合にテストへのリンクを表示 -->
	<a th:href="@{/test/chapter}" sec:authorize="hasRole('GENERAL')">テストへ</a>
	<ul class="list-group">
<!-- 		<li class="list-group-item"><a th:href="@{/question/1/1}">1章</a></li>
		<li class="list-group-item"><a th:href="@{/question/2/1}">2章</a></li>
		<li class="list-group-item"><a th:href="@{/question/3/1}">3章</a></li>
		<li class="list-group-item"><a th:href="@{/question/4/1}">4章</a></li> -->
		<li class="list-group-item"><a th:href="@{/question/5/1}">5章</a></li>
		<li class="list-group-item"><a th:href="@{/question/6/1}">6章</a></li>
		<li class="list-group-item"><a th:href="@{/question/7/1}">7章</a></li>
		<li class="list-group-item"><a th:href="@{/question/8/1}">8章</a></li>
		<li class="list-group-item"><a th:href="@{/question/9/1}">9章</a></li>
<!-- 		<li class="list-group-item"><a th:href="@{/question/10/1}">10章</a></li>
		<li class="list-group-item"><a th:href="@{/question/11/1}">11章</a></li>
		<li class="list-group-item"><a th:href="@{/question/12/1}">12章</a></li>
		<li class="list-group-item"><a th:href="@{/question/13/1}">13章</a></li>
		<li class="list-group-item"><a th:href="@{/question/14/1}">14章</a></li>
		<li class="list-group-item"><a th:href="@{/question/15/1}">15章</a></li>
		<li class="list-group-item"><a th:href="@{/question/16/1}">16章</a></li>
		<li class="list-group-item"><a th:href="@{/question/17/1}">17章</a></li>
		<li class="list-group-item"><a th:href="@{/question/18/1}">18章</a></li>
		<li class="list-group-item"><a th:href="@{/question/19/1}">19章</a></li>
		<li class="list-group-item"><a th:href="@{/question/20/1}">20章</a></li> -->
	</ul> 
</div>
</body>
</html>